# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Uploaded files (if any uploads folder)
uploads/

# Build / Dist folders (if any)
dist/
build/
